<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png"><br>
        <p class="aboutpara">Hi.. I am Gaurav. Thank You for Visiting my site.
            <br><br>I am student of IIIT Dharwad persuing B.Tech 4 year programme.
        </p>
        
        
    </div>
    
    {{>footer}}
</body>

</html>